<ion-header>
  <ion-toolbar color="danger" >
      <ion-buttons  slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="4" align-self-center >
          <img src="../../assets/img/user.png">
          <ion-icon name="camera" size="10" class="iconcam"></ion-icon>
      </ion-col>
      <ion-col >        
        <h2>{{ NombreUnido (user.APELLIDOS, user.NOMBRES) }}</h2> 
        <p>
          {{ user.AREA_TRABAJO}} <br> <strong> ACE SEGUROS </strong> <br>
            <strong>RUTA  </strong> {{ user.RUTA }}
         </p>        
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col align-self-center text-center >
          <img src="../../assets/img/qr.jpeg">
      </ion-col>
    </ion-row> 
  </ion-grid>
  <ion-list>
      <ion-list-header color="light">
          <ion-label>Datos Personales</ion-label>
        </ion-list-header>
      <ion-item *ngFor="let opt of listop; let i= index ;" >
        <ion-icon [name]="opt.icon" slot="start"></ion-icon>
        <ion-label position="stacked">{{ opt.descp }}</ion-label>
        <ion-input type="{{opt.type}}"   [(ngModel)]="opt.value" [disabled]='opt.isdisabled' [clearInput]= 'opt.optional' [required]="!opt.optional" ></ion-input>
      </ion-item>     
  </ion-list>  
  <ion-grid >
      <ion-row>
        <ion-col size="5">
            <ion-button icon-start color="primary" (click)="editar()" >
                <ion-icon name="create"></ion-icon>
                Guardar
              </ion-button>
        </ion-col>
        <ion-col size="7">
            <ion-button icon-start color="secondary" (click)="CambiarPwd()" >
                <ion-icon name="key"></ion-icon>
                Cambiar Contraseña
              </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>             
</ion-content>
