ion-toolbar{
    background-color: #ff0000;
    color: white;
}
.date{
    background: #322b2a;
    color: white;
    text-align: center;
    padding-bottom: 1%;
    padding-top:1%;
}
.ruta{
    background-color: #f2f2f2;
    // height: 90px;
    text-align: center;
}
.entrada{
    text-align: start;
    border-bottom: 2px #322b2a solid;
}
.startalign{
    text-align: start;
}
.endalign{
    text-align: end;
}
h3,h4,p{
    margin-bottom: 8px;
    margin-top: 4px;
}

#map{
    display: block;
    height: 100%;
    width: 100%;
  }