<!--
  Generated template for the EmployeoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->





  <img src="assets/imgs/user.png" style="width: 100px ; margin: auto; display:block; padding-top: 3%"> 

  <ion-item>
    <ion-icon name="contact" item-start ></ion-icon>
    <h2>{{ personal.name }} </h2>
    <h3>{{ personal.lastname }} </h3>
    <p *ngIf="personal.area">{{ personal.area }}</p>
  </ion-item>

  <ion-item>
    <ion-icon name="ios-home-outline" item-start  ></ion-icon>
    <h2>{{ personal.neighborhod }}</h2>
    <p >{{ personal.streetm.toLocaleLowerCase() }} {{ personal.numhouse }}  {{ personal.streets.toLocaleLowerCase() }}
      <br>
      <strong>Ruta: </strong>  {{ personal.route.toLocaleLowerCase() }}
    </p>
    <p>{{ personal.obs}}</p>
  </ion-item>
  <ion-item>
    <ion-icon name="call" item-start  ></ion-icon>    
    <p>{{ personal.phoneh }} </p>
    <p>{{ personal.phonec }}</p>    
  </ion-item>
  <ion-item>
    <span item-start>18 min</span>
    <span item-start>(2.6 km)</span>
    <button ion-button icon-start clear item-end>
      <ion-icon name="checkmark-circle" *ngIf="personal.isarrive" >Recogido</ion-icon>
      <ion-icon color="danger" name="close-circle"  *ngIf="!personal.isarrive" >Cancelado</ion-icon>
     
    </button>
  </ion-item>

