<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
              
                <ion-grid [routerDirection]="'root'" [routerLink]="[appPages[2].url]">
                  <ion-row align-items-center >
                      <ion-col>
                        <div text-center>
                          <img src="assets/img/user.png" style="width: 140px;padding-top: 6%">
                        </div>
                      </ion-col>                 
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div text-center>
                          <h2 no-margin>{{ NombreUnido (user.APELLIDOS, user.NOMBRES) }}</h2>
                          <p no-margin>Ace Seguros</p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>            
          </ion-menu-toggle>
            
          
          <ion-menu-toggle auto-hide="false" >
            <div *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" >
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{p.title}}
                    </ion-label>
                  </ion-item>
            </div>            
            <ion-item (click)="cerrar()" >
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar Sessión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
