<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start" (click)="gotoaddRoute()" >
          <ion-button router-direction="back" >
              <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>      
      </ion-buttons>
    <ion-title>Programar Recorido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="save()">
        <ion-list>
          <ion-item>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-label position="stacked" >Fecha</ion-label>
              <ion-datetime display-format="DD/MMM/YYYY" cancelText="Cancelar" doneText="Guardar"
              monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              [(ngModel)]="logistica.FECHA_LOG" name="logistica.FECHA_LOG" mode="ios"
              ></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-icon name="time" slot="start"></ion-icon>
              <ion-label position="stacked" >hora</ion-label>
              <ion-datetime display-format="hh:mm A"  doneText="Guardar" cancelText="Cancelar"
              [(ngModel)]="logistica.TURNO_LOG " name="logistica.TURNO_LOG"  mode="ios" max="12:00"
              ></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-icon name="git-compare" slot="start"></ion-icon>
              <ion-label position="stacked" >Tipo de Viaje</ion-label>
              <ion-select  ok-text="Guardar" cancel-text="Cancelar"
                 interface="popover" [(ngModel)]="logistica.TIPO" name="logistica.TIPO" >
                  <ion-select-option value="I">Ingreso</ion-select-option>
                  <ion-select-option value="S">Salida</ion-select-option>              
              </ion-select>
          </ion-item>          
          <ion-item>
              <ion-icon name="list-box" slot="start"></ion-icon>
              <ion-label position="stacked" >Mensaje</ion-label>
              <ion-textarea rows="4" cols="20" placeholder="Rerefencias del lugar" 
              clearOnEdit="true" [(ngModel)]="logistica.OBSERVACION_CLIENTE" name="logistica.OBSERVACION_CLIENTE"
              ></ion-textarea>
          </ion-item>          
        </ion-list>
        <ion-list *ngIf="isnew">
            <ion-item>
                <ion-icon name="copy" slot="start"></ion-icon>
                <ion-label >Repetir la programación</ion-label>
                <ion-toggle color="primary" [(ngModel)]="isrepeat" name="isrepeat" ></ion-toggle>
              </ion-item>
              <ion-item *ngIf="isrepeat">
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label position="stacked" >Fecha Final</ion-label>
                <ion-datetime display-format="DD/MMM/YYYY" cancelText="Cancelar" doneText="Guardar"
                monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                mode="ios" [(ngModel)]="dateendst" name="dateendst"
                ></ion-datetime>
            </ion-item> 
        </ion-list>
        <ion-button icon-start  color="primary" expand="full" size="large"  type="submit">                  
            <ion-icon name="send"></ion-icon>
            Enviar
          </ion-button>
      </form>
</ion-content>
