
<ion-content padding >
  <ion-grid>
      <ion-row justify-content-center align-items-center >
          <ion-col>
            <div text-center>
              <img src="assets/img/logo.png" style="width: 220px;padding-top: 6%">
            </div>
          </ion-col>                 
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col >
            <ion-list lines="full">        
                <ion-item align-self-center >
                    <ion-icon color="primary" name="person" size="large" slot="start"></ion-icon>
                    <ion-label color="primary" position="floating">Usuario</ion-label>
                    <ion-input color="primary" type="text"   required [(ngModel)]="idUser"  ></ion-input>
                </ion-item>
                <ion-item >
                    <ion-icon color="primary" name="key" slot="start"></ion-icon>
                    <ion-label color="primary" position="floating">Contraseña</ion-label>
                    <ion-input color="primary" type="password"   required [(ngModel)]="pwdUser"></ion-input>
                </ion-item>
              </ion-list>
              <ion-button color="danger" size="large" expand="full" (click)="login()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
    

</ion-content>
